nav {
    background-color: royalblue;
    border-bottom: solid #CFB53B;
}
html, body, * {
    /* font-family: Aclonica; */
    margin: 0px;
}
#thank-you-free-odd {
    display: none;
}
#white {
    /* color:unset; */
    color: white;
    font-family: Aclonica;
}
#white:hover {
    /* color:unset; */
    color: #CFB53B;
}

#togglerIcon {
    border: #CFB53B solid;

}

.contactPic {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    width: 100%;
    margin-left: 0px;
   
}
.bigorsmallPic {
    width: 100%;
    margin-left: 0px;
    position: relative;
    top: -158px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.checked {
    color: gold;
}
.reviews {
    float:right;
}

.projPage {
    text-align: center;
    margin-top: 10px;
    /* font-family: Aclonica; */

}

.blucrewBtn {
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    border: royalblue; 
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.mainDiv {
    margin-bottom: -164px;
}
.gold1 {
    background-color: rgb(65, 105, 225, 0.9);
    padding: 0px;
    border: rgb(207,181,59) solid;
    border-radius: 34%;
    width: 52%;
    height: 26%;
    top: -200px;
    position: relative;
    right: -43%;

}
.location {
    background-color: rgb(65, 105, 225, 0.9);
    border: rgb(207,181,59) solid;
    border-radius: 40%;
    width: 63%;
    position: relative;
    top: -253px;
    left: 8px;
}
.bigorsmall {
    background-color: rgb(65, 105, 225, 0.9);
    border: rgb(207,181,59) solid;
    border-radius: 40%;
    height: 142px;
    width: 174px;
    position: relative;
    top: -324px;
    left: 16px;
}
.big {
    font-size: x-large;
    padding: 20px;
    padding-top: 14px;
}
.skills {
    position: relative;
    top: -264px;
}
.socal {
    font-size: medium;
    padding-top: 11px;
    font-weight: bold;
    padding-left: 41px;
    padding-right: 41px
}
.hire {
    text-align: center;
    margin-top: -212px;
}
.firstHeader {
    text-align: center; 
    padding-top: 5px;
    font-size: medium;
    font-weight: bold;
}
.firstTxt {
    font-size: x-small;
    margin-top: -23px;
    margin-left: 8px;
    font-weight: bold;
}

.blue {
    height: 300px;
    margin-bottom: 86%;
}
.crewPic1 {
    width: 68%;
    margin-left: 20%;
    height: 68%;
}

.teamDesc {
    padding-left: 10%;
    text-align: center;

}
.custSat {
    position: relative;
    top: -196px;
}
.carousel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.TOPBTN {
    margin-bottom: 20px;
    margin-top: 10px;
}
.thankyou {
    font-size: larger;
    margin-bottom: 28px;
}
.thanks {
    text-align: center;
    margin-top: 47px;
}
.continueFromTY {
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    border: royalblue; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


@media only screen and (min-width: 768px) {
    .contactPic {
      /* margin-left: 125px; */
      width: 100%;  
    }
    .blue {
        height: 731px;
    }
    .mainDiv {
        margin-bottom: 0px;
    }
    .gold1 {
        left: 20%;
    padding: 10px;
    border: rgb(207,181,59) solid;
    border-radius: 50%;
    width: 60%;
    height: 62%;
    position: absolute;
    /* top: -200px; */
    top: 50%;
    }
    .firstTxt {
        padding: 56px;
        padding-left: 46px;
        font-size: x-large;
    }
    .firstHeader {
        text-align: center; 
        padding-top: 5px;
        font-size: xx-large;
    }
    .location {
        background-color: rgb(65, 105, 225, 0.9);        border: royalblue solid;
        border-radius: 40%;
        border: rgb(207,181,59) solid;

        width: 57%;
        position: relative;
        top: -733px;
        left: 20px;
        height: 300px;
    }
    .socal {
        padding: 50px;
        font-size: xx-large;
    }
    .crewPic1 {
        margin-bottom: 30px;
        /* padding-left: 13%; */
        margin-left: 27%;
    }
    .teamDesc {
        font-size: x-large;
        padding-left: 20%;
    }
    .blue {
        margin-bottom: 30%;
    }
    .custTitle {
        text-align: center;
        font-size: xx-large;
    }
    .bigorsmall {
        background-color: rgb(65, 105, 225, 0.9);        
        border: rgb(207,181,59) solid;
        border-radius: 40%;
        height: 214px;
        width: 647px;
        position: relative;
        top: -619px;
        left: 54px;
    }
    .big {
        font-size: xxx-large;
        padding: 31px;
        padding-top: 50px;
    }
    .topBtn {
        width: 5%;
        margin-left: 34%;
    }
    .TOPBTN {
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 19%;
    }
    .serviceP {
        font-weight: bold;
    }
    .listOfskills {
        font-size: larger;
    }
    
}
