nav {
    background-color: royalblue;
    border-bottom: solid #CFB53B;
}
html, body, * {
    font-family: Aclonica;
    margin: 0px;
}
#white {
    /* color:unset; */
    color: white;
    font-family: Aclonica;
}
#white:hover {
    /* color:unset; */
    color: #CFB53B;
}

#togglerIcon {
    border: #CFB53B solid;

}

.contactPic {
    
    
    width: 100%;
    margin-left: 0px;
   
}

.projPage {
    text-align: center;
    margin-top: 10px;
}

.blucrewBtn {
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    border: royalblue; 
    margin-bottom: 30px;
}
.mainDiv {
    margin-bottom: -164px;
}
.gold1 {
    background-color: rgb(207,181,59, 0.9);
    padding: 10px;
    border: royalblue solid;
    border-radius: 50%;
    width: 66%;
    height: 26%;
    top: -200px;
    position: relative;
    left: 17%;

}
.location {
    background-color: rgb(207,181,59, 0.9);
    border: royalblue solid;
    border-radius: 40%;
    width: 57%;
    position: relative;
    top: -264px;
    left: 20px;
}
.socal {
    font-size: medium;
    padding: 10px;
    font-weight: bold;
}
.firstHeader {
    text-align: center; 
    padding-top: 5px;
    font-size: medium;
    font-weight: bold;
}
.firstTxt {
    font-size: x-small;
    margin-top: -23px;
    margin-left: 8px;
}

.blue {
    background-color: royalblue;
    border: #CFB53B solid;
    height: 300px;
}
.crewPic1 {
    width: 40%;
    float: left;
}

.crewPic2 {
    width: 50%;
    float: right;
}

@media only screen and (min-width: 768px) {
    .contactPic {
      /* margin-left: 125px; */
      width: 100%;  
    }
    .blue {
        height: 623px;
    }
    .mainDiv {
        margin-bottom: 0px;
    }
    .gold1 {
        left: 20%;
    padding: 10px;
    border: royalblue solid;
    border-radius: 50%;
    width: 60%;
    height: 62%;
    position: absolute;
    /* top: -200px; */
    top: 50%;
    }
    .firstTxt {
        padding: 52px;
        font-size: x-large;
    }
    .firstHeader {
        text-align: center; 
        padding-top: 5px;
        font-size: xx-large;
    }
    .location {
        background-color: rgb(207,181,59, 0.9);
        border: royalblue solid;
        border-radius: 40%;
        width: 57%;
        position: relative;
        top: -733px;
        left: 20px;
        height: 300px;
    }
    .socal {
        padding: 50px;
        font-size: xx-large;
    }
}
